header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
header img {
  display: block;
  max-width: 50px;
}
.navegacao {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.navegacao a {
  color: #00001a;
  position: relative;
}
.navegacao a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-image: linear-gradient(to right, #2ac5fe, #00001a);
  margin-top: 4px;
  transition: 0.5s;
  position: absolute;
}

.navegacao a:hover::after {
  width: 100%;
}
@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
/*Mobile*/
@media (max-width: 800px) {
  .navegacao {
    display: none;
  }
  .navegacao.active {
    position: fixed;
    background-color: #fff;
    display: grid;
    justify-content: center;
    justify-items: left;
    align-content: center;
    right: 0;
    top: 0;
    height: 100%;
    padding: 60px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.481);
    animation-name: slide;
    animation-duration: 0.7s;
    transform: translateX(70px);
    animation-fill-mode: forwards;
  }
}
